# ignore files for fan

Thumbs.db
.DS_Store
*.log

# IntelliJ
*.iml

# Visual Studio
.vs/
bin/Debug/
bin/Release/
obj/Debug/
obj/Release/

# IntelliJ
.idea/

# general
/readme.html
/adm/pngcrush

# domkit
/src/domkit/res/css/

# etc
/etc/markdown/tests/
/etc/sys/types.db
/etc/yaml/tests/

# gen
/gen/

# lib/
/lib/java/**/*.jar
/lib/javascript/
/lib/dotnet/*.pdb
/lib/dotnet/sys.dll
/lib/fan/*.pod
/lib/js/
/lib/es/
/lib/data/
/lib/tmp/
/lib/src/

# doc/
/doc/

# src/
/src/foo/
/src/sys/java/temp/
/src/testEs/

# temp
/tmp/
/temp/
temp-java/
temp-es/

